In [50]:
import numpy as np
%precision 3 # "%.3f"
import scipy as sp

## Elementry Calculate

In [51]:
fish_data  =np.array([2,3,3,4,4,4,4,5,5,6])

In [52]:
np.sum(fish_data)

40

In [53]:
print(np.sum(fish_data))
print(sum(fish_data))
fish_data.sum()

40
40

40

In [54]:
len(fish_data)

10

## Fish Data's Mean

In [55]:
NumbersOfFishdata = len(fish_data)
sum_value = np.sum(fish_data)
mu = sum_value/NumbersOfFishdata
mu

3 # "4.000"

In [56]:
np.mean(fish_data)

3 # "4.000"

In [57]:
fish_data.mean()

3 # "4.000"

## STD

In [58]:
sigma_2_sample = np.sum((fish_data -mu)**2)/NumbersOfFishdata
sigma_2_sample

3 # "1.200"

In [59]:
fish_data -mu

array([-2., -1., -1.,  0.,  0.,  0.,  0.,  1.,  1.,  2.])

In [60]:
(fish_data -mu)**2

array([4., 1., 1., 0., 0., 0., 0., 1., 1., 4.])

In [61]:
np.sum((fish_data -mu)**2)

3 # "12.000"

In [62]:
np.var(fish_data,ddof=0) #DDOF means Unbiased One

3 # "1.200"

In [87]:
sigma_2 = np.sum((fish_data - mu) ** 2) / (NumbersOfFishdata - 1)
sigma_2

3 # "1.333"

## DDOF

In [88]:
np.var(fish_data,ddof=1) #DDOF means Unbiased One | Delta. Degree. Of. Freedom.

3 # "1.333"

In [89]:
np.var(fish_data,ddof=2) #DDOF means Unbiased One

3 # "1.500"

In [90]:
sigma = np.sqrt(sigma_2)
print(sigma)
np.std(fish_data,ddof=1)

1.1547005383792515

3 # "1.155"

In [67]:
fish_data - mu

array([-2., -1., -1.,  0.,  0.,  0.,  0.,  1.,  1.,  2.])

In [68]:
np.mean(fish_data -mu )

3 # "0.000"

In [91]:
fish_data/sigma

array([1.73205081, 2.59807621, 2.59807621, 3.46410162, 3.46410162,
       3.46410162, 3.46410162, 4.33012702, 4.33012702, 5.19615242])

In [92]:
np.std(fish_data/sigma,ddof=1)

3 # "1.000"

In [94]:
standard = (fish_data -mu)/sigma
standard

array([-1.73205081, -0.8660254 , -0.8660254 ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.8660254 ,  0.8660254 ,  1.73205081])

In [95]:
np.mean(standard)

3 # "0.000"

In [96]:
np.std(standard,ddof=1)

3 # "1.000"

In [97]:
np.std(fish_data/sigma,ddof=1)

3 # "1.000"

In [98]:
np.median(fish_data)

3 # "4.000"

In [76]:
fish_data2 = np.array([2,3,3,4,4,4,4,5,5,100])

In [77]:
np.mean(fish_data2)

3 # "13.400"

In [78]:
np.median(fish_data2)

3 # "4.000"

In [79]:
from scipy import stats

In [80]:
fish_data_3 = np.array([1,2,3,4,5,6,7,8,9])

In [81]:
stats.scoreatpercentile(fish_data_3,25)

3 # "3.000"

In [82]:
stats.scoreatpercentile(fish_data_3,75)

3 # "7.000"

## Tidy Data : 분석이 쉽도록 정리된 표 형식의 데이터

### Wickham ( 2014 )
#### • 다음의 4 가지 특징을 가지고 있다.
##### 1. 개별 값이 하나의 셀을 이룬다.
##### 2. 개별 변수가 하나의 열을 이룬다
##### 3. 개별 관측이 하나의 행을 이룬다
##### 4. 개별 관측 장치의 유형이 하나의 표를 이룬다.

In [83]:
import pandas as pd

In [84]:
fish_multi = pd.read_csv("3-2-1fish_multi.csv")
print(fish_multi)

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

in Colab,

from google.colab import drive
drive.mount('/content/drive')

--> Mounted at /content/drive

!pwd
--> content

!ls ./drive/MyDrive -la

In [48]:
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [101]:
group = fish_multi.groupby("species")
group.mean()

         length
species
A           3.0
B           8.0

In [102]:
group.std(ddof = 1)

         length
species
A           1.0
B           2.0

In [103]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [104]:
shoes = pd.read_csv("3-2-2-shoes.csv")
print(shoes)

   Unnamed: 0  store color  sales
0           0  seoul  blue     10
1           1  seoul   red     15
2           2  pusan  blue     13
3           3  pusan   red      9

In [105]:
cross = pd.pivot_table(
data = shoes, # 데이터 지정
values = "sales", # 집계 대상
aggfunc = "sum", # 집계 위한 함수
index = "store", # 교차 테이블의 행 지정
columns = "color" # 교차 테이블의 열을 지정
)
cross

color  blue  red
store
pusan    13    9
seoul    10   15